# Node modules y builds
node_modules/
dist/
coverage/

# Logs
*.log
logs/

# Entorno
.env
.env.*

# IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Docker
*.local
docker-compose.override.yml
